.container {
    width: 800px;
    height: 660px;
    background-color: whitesmoke;
    padding-top: 30px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: 220px;
    position: relative;
}

.primerbloque {
    height: 580px;
    width: 760px;
    margin: 5px 10px 5px 20px;
    background-color: #F8BBD0;
    position: relative;
}

.segundobloque {
    height: 580px;
    width: 760px;
    margin: 5px 20px 5px 20px;
    background-color: #E1BEE7;
    position: relative;
}

.tercerbloque {
    height: 580px;
    width: 760px;
    margin: 5px 20px 5px 20px;
    background-color: #D1C4E9;
    position: relative;
}

.mainfotos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.mainfotos img {
    height: 150px;
}

h1 {
    font-family:sans-serif;
    text-align: center;
    margin-top: 0px;
}

.piedepagina {
    font-family: sans-serif;
    text-align: center;
    font-size: smaller;
    align-items: stretch;
    margin-top: 0px;
    margin-bottom: 1px;
}